
<div id="container" > 
  <div>
    
    <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Express(Across the island)</mat-card-title>
      <mat-card-subtitle>Delivery within 3 Days</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src= "assets/images/express.jpg" alt="Photo of a Shiba Inu" style="height: 100%;">
    <mat-card-content>
        <p>
            <b>Product Category </b> <br>
             only for laptops, smart phones, tablets<br><br>
            <b> Cash on delivery </b><br>
                *Not available<br><br>
             <b> Installment plans </b><br>
             HNB, Commercial, Sampath credits cards only
             10% discount for HNB credit cards only
         </p>
    </mat-card-content>
  
    
</mat-card>
</div>




  <div>
     <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Fast Delivery(Across the island  )</mat-card-title>
      <mat-card-subtitle>Delivery within 2 Weeks</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src= "assets/images/fast.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            <b>Product Category </b> <br>
            Air pods,bands,smart watch, headset  <br><br>
            <b> Cash on delivery</b><br>
                Available!!!<br><br>
             <b> Installment plans </b><br>
            All the credits can be used to pay<br>
            10% discount for HNB, Sampath credit cards 
         </p>
    </mat-card-content>
  </mat-card>
 </div>



  <div>
  
    <mat-card >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Normal Delivery (Within colombo)</mat-card-title>
        <mat-card-subtitle>Deliver within 24 hours </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src= "assets/images/delivery.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
           <b>Product Category </b> <br>
           All the product can be delivered <br><br>
           <b> Cash on delivery </b><br>
              Available!!!<br><br>
            <b> Installment plans </b><br>
            For all the credits cards<br><br>
        </p>
      </mat-card-content>
      
  </mat-card>
  </div>



</div>