.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

.left {
    display: block;
    width:25%;
    padding: 14px;
  }

.right {
    display: block;
    width:25%;
    padding: 14px;
  }
