<mat-toolbar color="black"></mat-toolbar>
<mat-toolbar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Digi World Gift Voucher</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<img src="assets/image/main voucher.PNG" class="center">

<br>
<table border = "1">
  <tr>
      <td><b>Product details of Digi World gift voucher</b></td>
      <td><ul>
        <li>It's the perfect gift for everyone</li>
        <li>Only for one time usage</li>
        <li>Buy Digi World Gift voucher and shop for any product from our products</li>
        <li>Digi World Gift voucher will be delivered on working days only. (Monday- Friday)</li>
        <li>Only for one time usage</li>
      </ul></td>
  </tr>
  <tr>
      <td><b>How it works </b></td>
      <td><ul style="list-style-type:square;">
        <li>Purchase Digi World Gift voucher</li>
         <li> You or your recipient will receive a voucher code against Digi World Gift voucher</li>
         <li> To redeem, enter the voucher code of Digi World Gift voucher</li>
        </ul></td>
  </tr>
  <tr>
    <td><b>Terms & Conditions</b></td>
    <td><ul style="list-style-type:circle;">
      <li>Digi World Gift voucher can be used only once</li>
      <li>Digi World Gift voucher will not be replaced/reimbursed if lost, stolen or expired.</li>
      <li>Unredeemed Digi World Gift voucher will expire in 365 days from the date of purchase.</li>
      <li>Digi World Gift voucher cannot be cancelled/refunded. Daraz Gift Cards cannot be recharged. They are for one-time use only</li>
    </ul></td>
</tr>
  </table>
