<h1 class="display-4 text-center"><img src="/assets/img/logo1.png" class="image"> Delivery Services...</h1>
<form style="margin-top:30px;" #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)" >
  <input type="hidden"  name="OrderID" #OrderID="ngModel" [(ngModel)]="service.formData.OrderID">
    <div class="row" style="margin-left: 30px; margin-right: 30px">
      <div class="col-md-6">
        <div class="form-group">
          <label>Order No.</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text">#</div>
            </div>
            <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-control" readonly>
          </div>
         
          </div>
        

        <div class="form-group">
          <label>Customer</label>
          <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID" class="form-control"
          [class.is-invalid]="!isValid && service.formData.CustomerID==0">>
          <option value="0">-Select-</option>
          <option *ngFor="let item of customerList" value="{{item.CustomerID}}">{{item.Name}}</option>
           
          </select>
        </div>


      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Payment Method</label>
          <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" class="form-control">
            <option value="">-Select-</option>
            <option value="Cash">Cash</option>
            <option value="Card">Card</option>
            
          </select>
        </div>
        <div class="form-group">
          <label>Grand Total</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text">$</div>
            </div>
            <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" class="form-control" readonly>
          </div>

           
          </div>
        </div>
      </div>
    
    <!-- order items table-->
   <table class="table table-boarderless" style="margin-right: 40px;" >
     <thead class="thead-light">
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderID)"><i class="fa fa-plus"></i> Add Item</a>
      </th>
      <tbody>
        <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
          <td class="font-italic text-center" colspan="5">
            No Products selected for the order
          </td>
        </tr>       
        
        
        <tr *ngFor="let item of service.orderItems;let i=index;">
          <td>{{item.ItemName}}</td>
          <td>{{item.Price}}</td>
          <td>{{item.Quantity}}</td>
          <td>{{item.Total}}</td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderID)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
            <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID,i)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
     
   </table>
    <div class="form-group">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Orders</a>
    </div>
  </form>
  
  
