.table{
    width: 93%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 40px;
    margin-right: 30px;
    
}

.btn-dark {
    margin-right: 10px;
    margin-left: 10%;
}

.table .thead-light th {
    color: #495057;
    background-color: forestgreen;
    border-color: #dee2e6;
}

.image{
    margin-top: 25px;
    border-radius: 50px;
}