.example-icon{
    padding: 0 15px;
}

.mat-toolbar {
    background: rgb(11, 142, 146);
    color: rgb(10, 2, 2);
}

.mat-drawer-container {
    background-color: #8f9799;
    color: #fff;
}

.mat-drawer {
    background-color: #bbb6b6;
    color: #fff;
}

.mat-elevation-z5 {
    position: relative;
    z-index:2;
}

.mat-sidenav a:hover{
    color:rgb(255, 0, 34);
}

/* You can add global styles to this file, and also import other style files */
.form-group label {
    color: gray
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th {
    font-weight: 400;
  }
  
  table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  
  input.invalid {
    border-color: red;
  }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  