

<div class="container">
  <div class="row">
    <ng-container *ngFor="let product of products">
      <div class="card col-md-3">
        <h5>{{product.title}}</h5>
        <h5>{{product.description}}</h5>
        <h3>Rs : {{product.price}}</h3>
        <img src="{{product.image}}" >
        <p class="buttons">
        <button class="button">
          <span class="icon is-small">
            <i class="fas fa-heart"></i>
          </span>
        </button>
        <button class="button" (click)=addItemIntoCart(product)>
            <span class="icon is-small">
              <i class="fas fas fa-cart-plus"></i>
            </span>
          </button>
        
          <a class="navbar-item" routerLink="{{product.id}"> </a>
          </p>
      </div>
    </ng-container>
  </div>
</div>
<!-- <section class="section">
   
    



            <div class="container">
                <div class="columns is-multiline">
                    <div class="column" *ngIf="products">
                      <div *ngFor="let product of products|async">
                        
                          </div>
                    </div>
               
            
           </div>
        </div>
        </section>   -->
   


        
    

        <!-- <div class="card" >                      
          <div class="card-image">  
            <figure class="image is-4by4">
              <img src="{{product.image}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit am
              <p class="buttons">
                  <button class="button">
                    <span class="icon is-small">
                      <i class="fas fa-heart"></i>
                    </span>
                  </button>
                  <button class="button">
                      <span class="icon is-small">
                        <i class="fas fa-shopping-cart"></i>
                      </span>
                    </button>
                    <button class="button">
                      <span class="icon is-small">
                          <i class="fas fa-cart-plus"></i>
                      </span>
                    </button>
                    <a class="navbar-item" routerLink="{{product.id}}">  {{product.title}} </a>
            
            </div>
          </div>
      </div> -->