<div class="container">
    <div class="row">
    <div class="col-6">
    <h1>Shipping Address</h1>
    <form action="" method="">
        <div class="columns is-3 is-multiline is-mobile">
            <div class="column is-one-half">
                <div class="field">
                    <label for="" class="label">Firstname</label>
                    <input type="text" class="input" name="firstname" [(ngModel)]="firstname" required #firstnameInput="ngModel">
                    <div style="color:red;" *ngIf="firstnameInput.invalid && firstnameInput.touched">
                        Firstname is required
                      </div>
                </div>
            </div>
            <div class="column is-one-half">
                <div class="field">
                    <label for="" class="label">Lastname</label>
                    <input type="text" class="input" name="lastname" [(ngModel)]="lastname" required #lastnameInput="ngModel">
                    < <div style="color:red;" *ngIf="lastnameInput.invalid && lastnameInput.touched">
                      Lastname is required
                    </div>
                </div>
            </div>                   
          </div>
          <!-- second row -->
          <div class="columns is-3 is-multiline is-mobile">
          <div class="column is-one-half">
            <div class="field">
                <label for="" class="label">Email</label>
                <input type="email" class="input" name="email" [(ngModel)]="email" required #emailInput="ngModel" email="true">
                <div style="color:red;" *ngIf="emailInput.invalid && emailInput.touched">
                  Email is required 
                </div>

                <div style="color:red;" *ngIf="emailInput.errors?.email">
                    Enter the email in correct format (example@example)
                  </div>
            </div>
        </div>
        <div class="column is-one-half">
            <div class="field">
                <label for="" class="label">Contact no</label>
                <input type="text" class="input" name="contactno" [(ngModel)]="contactno" required #contactnoInput="ngModel">
                <div style="color:red;" *ngIf="contactnoInput.invalid && contactnoInput.touched">
                  Contactno is required
                </div>
            </div>
        </div>
        </div>
        <!-- third row -->
        <div class="columns is-3 is-multiline is-mobile">
            <div class="column is-one">

                <div class="field">
                    <label for="" class="label">Address</label>
                    <textarea class="textarea" name="address" [(ngModel)]="address" required #addressInput="ngModel" value=""></textarea>
                    <div style="color:red;" role="alert" *ngIf="addressInput.invalid && addressInput.touched">
                      Address is required
                    </div>
                </div>


              
            </div>
        </div>
        <<div class="alert alert-danger" role="alert" *ngIf="error1!=''"> {{error1}}</div><br>
        <input type="submit" class="button is-success is-rounded" value="Save and Procced to Payment" (click)="submitForm()">
    </form>
</div>
</div>
</div>
