<ng-container *ngIf="itemsinCart.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>        
    </div>
    <div class="center">
        <h2> Your cart is Empty</h2>
        <a class="button is-link is-rounded">Shop now</a>
    </div>
</div>
</ng-container>


<ng-container *ngIf="itemsinCart.length!=0">
    <div class="card-table">
        <div class="citems">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>No </th>
                        <th>Product Name </th>
                        <th>Product Image </th>
                        <th>Price </th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsinCart; let i =index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img src="{{item.image}}"></td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.total}}</td>
                        <td><button class="btn btn-danger" (click)="removeItem(item)"><i class="fas fa-trash-alt"></i> Remove</button></td>
                    </tr>
                   
                </tbody>
            </table>

            <h1 style="text-align: right;padding-top: 100px;padding-left: 100px;padding-right: 100px;">Total : {{gTotal}}</h1>
         
            <a class="button is-success is-rounded" style="float: right;padding-left: 100px;padding-right: 100px;" routerLink="/shippingDetails">Proceed to Pay</a>
        </div>
    </div>
</ng-container>